.usdz-button {
  width: 100%;
}

.model-container {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}

.the-image {
  width: 100%;
}

.model-viewer {
  width: 100%;
  height: 370px;
}

@media screen and (min-width: 768px) {
  .usdz-button {
    display: none;
  }
  .model-viewer {
    height: 470px;
  }
}